

<section id="imagens">
    <div class="container " infiniteScroll (scrolled)="onScroll()">
        <div class="row">
            <div class="justify-content-center">
                <div class="alin-item-center">
                    <div class="text-center">
                        <h2 class="fw-bolder">Destaques da Semana</h2>
                        <p class="lead mb-5">Estas são as imagens em destaque da semana.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6  col-md-6 d-flex justify-content-center py-3" *ngFor="let imagem of imagens">
                <div class="card" >
                <img class="card-img-top" style="background-image: url({{imagem.download_url}});">
                <div class="card-body ">
                    <p  class="card-text d-flex justify-content-between">Autor: <span>{{imagem.author}}</span><a [routerLink]="['/imagem', imagem.id]" class=" btn btn-primary" >Visualizar</a></p>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>