.header{
    padding: -100px;
}

.bg-personalizado{
    background-color: #363434;
    border-bottom: 2px solid #615f5f ;
    margin-bottom: 50px;
}

.bg-personalizado .container .row h1{
    color: white;
}
.bg-personalizado .container .row p{
    color: rgb(122, 121, 121);
}