<header>
    <div class="container-fluid px-4 px-lg-5 bg-personalizado">
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7 py-5"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://picsum.photos/id/237/900/400" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">As melhores Imagens<br>Você Encontra Aqui</h1>
                <p>Encontrar imagens na internet não é uma tarefa difícil. O número de bancos de imagens para usar em sites e blogs é, hoje, bem extenso. Mas o que pode ser difícil é escolher quais são as melhores opções, entre tantas disponíveis.</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</header>

